@model List<BlogApp.Areas.Admin.Models.BlogViewModel>

<h2>Blogs</h2>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>User</th>
            <th>Category</th>
            <th>Draft</th>
            <th>Highlight</th>
            <th>Created Date</th>
            <th>Updated Date</th>
            <th>-</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var blog in Model)
        {
            <tr>
                <td>@blog.Title</td>
                <td>@blog.AppUser.UserName</td>
                <td>@blog.Categories.Name</td>
                <td>@blog.IsDraft</td>
                <td>@blog.Highlight</td>

                <td>@blog.CreatedDate.ToString("g")</td>
                <td>@blog.UpdatedDate.ToString("g")</td>
                <td>
                    <a asp-controller="Blog" asp-action="Edit" asp-route-Id="@blog.Id" class="btn btn-primary">Edit</a>
                    <button class="btn btn-danger" onclick="deleteBlog(@blog.Id)">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
      function deleteBlog(blogId) {
        if (confirm('Are you sure you want to delete this blog?')) {
            fetch(`/Admin/Blog/Delete?id=${blogId}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRF-TOKEN': $('input[name="__RequestVerificationToken"]').val() // Ensure CSRF token is included
                }
            })
                .then(response => {
                    if (response.ok) {
                        window.location.reload();
                    } else {
                        alert('Error deleting blog.');
                    }
                })
                .catch(error => console.error('Error:', error));
        }
    }
    
</script>
